.navBar {
	-fx-background-color: #0099ff;
}

.panel {
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
	-fx-padding: 20 20 20 20;
}
.panel_title{
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5); 
	-fx-background-radius: 4; 
	-fx-background-color: rgb(20, 95, 183,0.6);
	-fx-padding: 5 20 5 20;
}
.panel_title .label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 16px;
}

.defaultBtn {
	-fx-background-color: #ffffff;
	-fx-border-color: #e6e6e6;
	-fx-cursor: hand;
	-fx-border-radius: 4px;
}

.defaultBtn:hover {
	-fx-background-color: #e6e6e6;
}

.defaultBtn .jfx-rippler {
	-jfx-rippler-fill: #808080;
}


.saveBtn {
	-fx-background-color: rgb(0, 170, 207);
	-fx-text-fill: #ffffff;
	-jfx-button-type: RAISED;
	-fx-cursor: hand;
}

.saveBtn .jfx-rippler {
      -jfx-rippler-fill: #3f25d7;
}

.cancelBtn {
	-fx-background-color: #F39C12;
	-fx-text-fill: #ffffff;
	-jfx-button-type: RAISED;
	-fx-cursor: hand;
}

.cancelBtn .jfx-rippler {
      -jfx-rippler-fill: #f52020;
}

.editBtn {
	-fx-background-color: #26B99A;
	-fx-text-fill: #ffffff;
	-jfx-button-type: RAISED;
	-fx-cursor: hand;
}

.editBtn .jfx-rippler {
      -jfx-rippler-fill: #3d9a31;
}

.roundBtn {
	-fx-pref-height:50px;   
    -fx-pref-width:50px;
    -fx-background-color: #ff4081;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,1);
	-fx-cursor: hand;
}

.fieldLabel {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: #666666;
}

.listSelectionViewLabel {
	-fx-font-weight: bold;
	-fx-font-size: 12;
}
